<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WealthVault</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Portfolio</a>
        <a href="/dashboard">Dashboard</a>
    </nav>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">
                        {{ message }}
                        <span class="flash-close" onclick="this.parentElement.style.display='none'">&times;</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

<hr>
<script src = "/static/js/search.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script src="{{ url_for('static', filename='js/ai.js') }}"></script>
    {% block content %}
    {% endblock %}
</body>
</html>